.op-btn {


  background: linear-gradient(90deg, #21768e 0%, #294750 100%);
  border-radius: 8px;
  padding: 14px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;


  @media (max-width:768px) {
    padding: 8px 12px;

  }

  /* 🔥 shine base */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-20deg);
  }

  &:hover {

    &::after {
      left: 100%;
      transition: all 0.5s ease;
    }

    .op-btn-text-1 {
      transform: translateY(-200%);
    }

    .op-btn-text-2 {
      transform: translateY(0);
    }
  }

  &-text {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &-1 {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
text-transform: capitalize;
      position: absolute;
      left: 0;
      /* 🔥 remove fixed left */
      transform: translateY(0);
      transition: 0.3s;

      @media (max-width:768px) {
        font-size: 14px;
        font-weight: 500;


      }
    }

    &-2 {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
text-transform: capitalize;

      transform: translateY(196%);
      transition: 0.3s;
      display: block;

      @media (max-width:768px) {
        font-size: 14px;
        font-weight: 500;


      }
    }
  }

  &-icon {
    margin-left: 12px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease, filter 0.4s ease;
    }

    &:hover img {
      transform: scale(1.2) rotate(10deg);
      filter: brightness(1.2) saturate(1.3);
    }
  }

  /* variants same */
  &-two {
    background: linear-gradient(90deg, #cf7642 0%, #6e441a 100%);
  }

  &-three {
    background: linear-gradient(90deg, #0b79c3 0%, #035891 100%);
  }

  &-four {
    background: #018ce9;
  }
}